:root {
	/* 
	* this is primary color, applied on:
	* background, underline
	 */
	--primary: #262626;
	--primary-disabled: #292222;
	/*
	* this is secondary color, applied on:
	* text, border
	*/
	--secondary: white;
	--secondary-disabled: #ababab;
	/*
	* this is third color, applied on:
	* button, 
	*/
	--third: #9c59b6;
	--third-disabled: #520372;
	/*
	* other colors, used on random object.
	*/
	--o1: #00b2c9;
	--o1-disabled: #008191;
	/*
	* other colors, used on random object.
	*/
	--o2: #FF2D00;
	--o2-disabled: #991e03;
}
